@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


@media (min-width: 1440px) {
  body {
    width: auto;
    left: 0;
    top: 0;
    margin: auto;
    padding: 0;
  }

  section.portfolio {
    width: 100vw;
  }

  nav.main-nav {
    position: absolute;
    opacity: 0.2;
    width: 7vw;
    margin-left: 83.3vw;
    height: 2.2vh;
    z-index: 25;
    margin-top: 3.89vh;

  }
  nav:hover {
    opacity: 1;
  }
  nav.main-nav ul {
    line-height: 2;
    list-style: none;
    position: absolute;
    z-index: 2;
    margin-top: -2.2vh;
  }
  nav.main-nav li {
    display:  run-in;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    color: #272727;
    padding-left: 3.47vw;
  }
  nav.main-nav a{
    text-decoration: none;
    color: #272727;
    cursor: pointer;
  }

  div.nav {
    width: 100vw;
    height: 6.67vh;
    background-color: #FFFFFF;
    position:fixed;
    z-index: 20;
  }
  div.nav ul {
    width: 41.67vw;
    margin-left: 26.38vw;
    list-style: none;
    position: absolute;
    z-index: 2;
  }
  div.nav li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    color: #DECDBE;
    padding-left: 1.4vw;
  }

  div.nav :hover {
    color: #BF5049;
  }

  div.nav a{
    text-decoration: none;
    color: #DECDBE;
    cursor: pointer;
  }

  section.branding {
    width: 100vw;
    height: 172.2vh;
  }

  div.branding-about {
    width: 62.5vw;
    height: 48.89vh;
    margin-left: 15.28vw;
  }

  div.branding-back-color {
    display: block;
    background-color: #DECDBE;
    width: 35.4vw;
    height: 31.67vh;
    margin-top: 7.78vh;
    z-index: 0;
    position: absolute;
  }

  div.branding-about-text {
    width: 55.56vw;
    padding-left: 7vw;
    text-align: center;
    position: relative;
    padding-top: 1.1vh ;
    z-index: 1;
  }
  div.branding-about-text h1 {
    margin-top: 12.2vh;
    color: #BF5049;
    font-size: 3.33vw;
  }

  div.branding-about-text p {
    color: #272727;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.branding-about-text a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.branding-project {
    width: 100vw;
    height: 105.56vh;
    background-color: #272727;
  }

  div.branding-project-text p {
    width: 55.56vw;
    margin-left: 22.2vw;
    padding-top: 11.1vh;
    font-size: 1.67vw;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
  }

  div.branding-works {
    width: 69.4vw;
    margin-top: 5.56vh;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 20.8vw 3.47vw 20.8vw 3.47vw 20.8vw;
  }

  div.branding-image img{
    width: 20.8vw;
    height: 46.67vh;
  }

  div.branding-work {
    display: grid;
    grid-template-rows: 46.67vh 8.89vh;
  }

  div.branding-text {
    height: 8.89vh;
    width: 20.8vw;
    margin-top: 2.2vh;
  }

  div.branding-text p {
    font-size: 1.25vw;
    text-align: left;
    width: 20.8vw;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

  section.posters {
    margin-top: -16.67vh;
    width: 100vw;
    height: 366.67vh;
  }

  div.posters-about{
    width: 100vw;
    height: 78.3vh;
    background-color: #DECDBE;
    position: absolute;
    padding-top: 5.56vh;
  }

  div.posters-about-text {
    width: 55.56vw;
    margin-left: 22.2vw;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  div.posters-about-text h1 {
    color: #272727;
    font-size: 3.33vw;
  }

  div.posters-about-text p {
    color: #272727;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.posters-about-text a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.poster-about {
    width: 69.4vw;
    margin-left: 15.28vw;
    height: 33.3vh;
    display: grid;
    grid-template-columns: 20.8vw 3.47vw 20.8vw 3.47vw 20.8vw;
    margin-top: 3.3vh;
  }

  div.poster-about-card {
    background-color: #FFFFFF;
    width: 20.8vw;
    height: 33.3vh;
  }

  div.poster-about-card h1{
    font-size: 3.33vw;
    color: #BF5049;
    text-align: center;
    margin-top: 6.67vh;
  }

  div.poster-about-card p {
    width: 18vw;
    margin-left: 1.39vw;
    text-align: center;
    font-size: 1.25vw;
    margin-top: -2.2vh;
  }

  div.graph-posters {
    position: absolute;
    margin-top: 83.89vh;
  }

  div.graph-posters-about {
    width: 55.56vw;
    margin-left: 15.28vw;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  div.graph-posters-about h1 {
    color: #BF5049;
    font-size: 2.5vw;
  }

  div.graph-posters-about p {
    color: #272727;
    font-size: 1.25vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.graph-posters-image {
    width: 69.4vw;
    margin-top: 5.56vh;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 24.3vw 24.3vw 20.8vw;
    grid-auto-rows: 52.2vh 46.67vh;
  }

  div.graph-posters-image img {
    width: 69.4vw;
  }

  div.typograph-posters {
    width: 100vw;
    height: 138.89vh;
    position: absolute;
    margin-top: 211.1vh;
    background-color: #F1F1F1;

  }

  div.typograph-posters-about {
    width: 55.56vw;
    margin-left: 15.28vw;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  div.typograph-posters-about h1 {
    color: #BF5049;
    font-size: 2.5vw;
  }

  div.typograph-posters-about p {
    color: #272727;
    font-size: 1.25vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.typograph-posters-image {
    width: 69.4vw;
    margin-top: 5.56vh;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 24.3vw 24.3vw 20.8vw;
    grid-auto-rows: 52.2vh 46.67vh;
  }

  div.typograph-posters-image img {
    width: 69.4vw;
  }

  section.web-poster {
    width: 100vw;
    height: 133.3vh;
  }

  div.web-poster-about {
    width: 100vw;
    height: 48.89vh;
    background-color: #272727;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -22.2vh;
  }


  div.web-poster-about h1 {
    color: #FFFFFF;
    font-size: 3.33vw;
    padding-top: 11.1vh;
  }

  div.web-poster-about p {
    color: #FFFFFF;
    width: 55.56vw;
    margin-left: 22.2vw;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.web-poster-about a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.interactive {
    width: 100vw;
    height: 91.67vh;
  }

  div.interactive iframe {
    width: 69.4vw;
    height: 69.4vh;
    margin-left: 15.28vw;
    margin-top: 11.1vh;
  }

  section.building {
    width: 100vw;
    height: 472.2vh;
  }

  div.building-about {
    width: 100vw;
    height: 55.56vh;
    background-color: #F6F6F6;
    text-align: center;
  }


  div.building-about h1 {
    color: #BF5049;
    font-size: 3.33vw;
    padding-top: 10vh;
  }

  div.building-about p {
    color: #272727;
    width: 55.56vw;
    margin-left: 35.56vh;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.building-about a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.book-pages {
    margin-top: 11.1vh;
    width: 69.4vw;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 24.3vw 24.3vw 20.8vw;
    grid-template-rows: 31.1vh 25.56vh;
  }

  div.book-pages img {
    width: 69.4vw;
  }

  div.book-pages.two{
    grid-template-rows: 31.1vh 31.1vh 25.56vh;
  }

  div.book-image {
    width: 69.4vw;
    height: 77.78vh;
    margin-left: 15.28vw;
    margin-top: 11.1vh;
  }

  div.building-video {
    width: 100vw;
    height: 102.2vh;
    background-color: #272727;
    margin-top: 11.1vh;
  }

  div.building-video-about {
    width: 55.56vw;
    margin-left: 15.28vw;
    text-align: left;
    position: relative;
    z-index: 1;
    padding-top: 5.56vh;
  }

  div.building-video-about h1 {
    color: #FFFFFF;
    font-size: 2.5vw;
  }

  div.building-video-about p {
    color: #FFFFFF;
    font-size: 1.25vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.video {
    width: 69.4vw;
    height: 66.67vh;
    background-color: #C4C4C4;
    margin-left: 15.28vw;
    margin-top: 5.56vh;
  }

  section.rebranding {
    display: block;
    position: relative;
    margin-top: 105.56vh;
    width: 100vw;
    height: 100vh;
    background-color: #DECDBE;
  }

  footer {
    width: 100vw;
    height: 33.3vh;
    background-color: #272727;
  }

  footer img {
    width: 34.7vw;
    height: 23.3vh;
    margin-top: 5vh;
    margin-left: 15.3vw;
  }
  footer p {
    color: #FFFFFF;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 70.8vw;
    margin-top: -3.89vh;
  }
}

@media (orientation: landscape) {
  body {
    width: auto;
    left: 0;
    top: 0;
    margin: auto;
    padding: 0;
  }

  section.portfolio {
    width: 100vw;
  }

  nav.main-nav {
    position: absolute;
    opacity: 0.2;
    width: 7vw;
    margin-left: 73.3vw;
    height: 2.2vh;
    z-index: 25;
    margin-top: 3.89vh;

  }
  nav:hover {
    opacity: 1;
  }
  nav.main-nav ul {
    line-height: 2;
    list-style: none;
    position: absolute;
    z-index: 2;
    margin-top: -2.2vh;
  }
  nav.main-nav li {
    display:  run-in;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    color: #272727;
    padding-left: 3.47vw;
  }
  nav.main-nav a{
    text-decoration: none;
    color: #272727;
    cursor: pointer;
  }

  div.nav {
    width: 100vw;
    height: 6.67vh;
    background-color: #FFFFFF;
    position:fixed;
    z-index: 20;
  }
  div.nav ul {
    margin-top: 0vh;
    width: 50vw;
    margin-left: 25vw;
    list-style: none;
    position: absolute;
    z-index: 2;
  }
  div.nav li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    color: #DECDBE;
    padding-left: 1.4vw;
  }

  div.nav :hover {
    color: #BF5049;
  }

  div.nav a{
    text-decoration: none;
    color: #DECDBE;
    cursor: pointer;
  }

  section.branding {
    width: 100vw;
    height: 172.2vh;
  }

  div.branding-about {
    width: 62.5vw;
    height: 48.89vh;
    margin-left: 15.28vw;
  }

  div.branding-back-color {
    display: none;
  }

  div.branding-about-text {
    width: 55.56vw;
    padding-left: 7vw;
    text-align: center;
    position: relative;
    padding-top: 1.1vh ;
    z-index: 1;
  }
  div.branding-about-text h1 {
    margin-top: 12.2vh;
    color: #BF5049;
    font-size: 3.33vw;
  }

  div.branding-about-text p {
    color: #272727;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.branding-about-text a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.branding-project {
    width: 100vw;
    height: 105.56vh;
    background-color: #272727;
    margin-top: 20vh;
  }

  div.branding-project-text p {
    width: 55.56vw;
    margin-left: 22.2vw;
    padding-top: 11.1vh;
    font-size: 1.67vw;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
  }

  div.branding-works {
    width: 69.4vw;
    margin-top: 5.56vh;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 20.8vw 3.47vw 20.8vw 3.47vw 20.8vw;
  }

  div.branding-image img{
    width: 20.8vw;
    height: 46.67vh;
  }

  div.branding-work {
    display: grid;
    grid-template-rows: 46.67vh 8.89vh;
  }

  div.branding-text {
    height: 8.89vh;
    width: 20.8vw;
    margin-top: 2.2vh;
  }

  div.branding-text p {
    font-size: 1.25vw;
    text-align: left;
    width: 20.8vw;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

  section.posters {
    margin-top: 2vh;
    width: 100vw;
    height: 366.67vh;
  }

  div.posters-about{
    width: 100vw;
    height: 78.3vh;
    background-color: #DECDBE;
    position: absolute;
    padding-top: 5.56vh;
  }

  div.posters-about-text {
    width: 55.56vw;
    margin-left: 22.2vw;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  div.posters-about-text h1 {
    color: #272727;
    font-size: 3.33vw;
  }

  div.posters-about-text p {
    color: #272727;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.posters-about-text a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.poster-about {
    width: 69.4vw;
    margin-left: 15.28vw;
    height: 33.3vh;
    display: grid;
    grid-template-columns: 20.8vw 3.47vw 20.8vw 3.47vw 20.8vw;
    margin-top: 3.3vh;
  }

  div.poster-about-card {
    background-color: #FFFFFF;
    width: 20.8vw;
    height: 33.3vh;
  }

  div.poster-about-card h1{
    font-size: 3.33vw;
    color: #BF5049;
    text-align: center;
    margin-top: 4.67vh;
  }

  div.poster-about-card p {
    width: 18vw;
    margin-left: 1.39vw;
    text-align: center;
    font-size: 1.25vw;
    margin-top: -2.2vh;
  }

  div.graph-posters {
    position: absolute;
    margin-top: 83.89vh;
  }

  div.graph-posters-about {
    width: 55.56vw;
    margin-left: 15.28vw;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  div.graph-posters-about h1 {
    color: #BF5049;
    font-size: 2.5vw;
  }

  div.graph-posters-about p {
    color: #272727;
    font-size: 1.25vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.graph-posters-image {
    width: 69.4vw;
    margin-top: 5.56vh;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 24.3vw 24.3vw 20.8vw;
    grid-auto-rows: 52.2vh 46.67vh;
  }

  div.graph-posters-image img {
    width: 21.4vw;
    height: auto;
  }

  div.typograph-posters {
    width: 100vw;
    height: 138.89vh;
    position: absolute;
    margin-top: 211.1vh;
    background-color: #F1F1F1;

  }

  div.typograph-posters-about {
    width: 55.56vw;
    margin-left: 15.28vw;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  div.typograph-posters-about h1 {
    color: #BF5049;
    font-size: 2.5vw;
  }

  div.typograph-posters-about p {
    color: #272727;
    font-size: 1.25vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.typograph-posters-image {
    width: 69.4vw;
    margin-top: 5.56vh;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 24.3vw 24.3vw 20.8vw;
    grid-auto-rows: 52.2vh 46.67vh;
  }

  div.typograph-posters-image img {
    width: 21.4vw;
  }

  section.web-poster {
    width: 100vw;
    height: 133.3vh;
  }

  div.web-poster-about {
    width: 100vw;
    height: 48.89vh;
    background-color: #272727;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -22.2vh;
  }


  div.web-poster-about h1 {
    color: #FFFFFF;
    font-size: 3.33vw;
    padding-top: 11.1vh;
  }

  div.web-poster-about p {
    color: #FFFFFF;
    width: 55.56vw;
    margin-left: 22.2vw;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.web-poster-about a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.interactive {
    width: 100vw;
    height: 91.67vh;
  }

  div.interactive iframe {
    width: 69.4vw;
    height: 69.4vh;
    margin-left: 15.28vw;
    margin-top: 11.1vh;
  }

  section.building {
    width: 100vw;
    height: 472.2vh;
  }

  div.building-about {
    width: 100vw;
    height: 55.56vh;
    background-color: #F6F6F6;
    text-align: center;
  }


  div.building-about h1 {
    color: #BF5049;
    font-size: 3.33vw;
    padding-top: 10vh;
  }

  div.building-about p {
    color: #272727;
    width: 55.56vw;
    margin-left: 35.56vh;
    font-size: 1.67vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.building-about a {
    text-decoration: none;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -2.2vh;
  }

  div.book-pages {
    margin-top: 11.1vh;
    width: 69.4vw;
    margin-left: 15.28vw;
    display: grid;
    grid-template-columns: 24.3vw 24.3vw 20.8vw;
    grid-template-rows: 36.1vh 25.56vh;
  }

  div.book-pages img {
    width: 21.4vw;
  }

  div.book-pages.two{
    grid-template-rows: 36.1vh 36.1vh 25.56vh;
  }

  div.book-image {
    width: 69.4vw;
    height: 77.78vh;
    margin-left: 15.28vw;
    margin-top: 11.1vh;
    padding-bottom: 5.56vh;
  }

  div.book-image img {
    width: 70vw;
  }

  div.building-video {
    width: 100vw;
    height: 102.2vh;
    background-color: #272727;
    margin-top: 11.1vh;
  }

  div.building-video-about {
    width: 55.56vw;
    margin-left: 15.28vw;
    text-align: left;
    position: relative;
    z-index: 1;
    padding-top: 5.56vh;
  }

  div.building-video-about h1 {
    color: #FFFFFF;
    font-size: 2.5vw;
  }

  div.building-video-about p {
    color: #FFFFFF;
    font-size: 1.25vw;
    margin-top: -2.2vh;
    font-family: 'Montserrat', sans-serif;
  }

  div.video {
    width: 69.4vw;
    height: 66.67vh;
    background-color: #C4C4C4;
    margin-left: 15.28vw;
    margin-top: 5.56vh;
  }

  div.video iframe{
    width: 69.4vw;
    height: 66.67vh;
  }

  section.rebranding {
    display: block;
    position: relative;
    margin-top: 140vh;
    width: 100vw;
    height: 100vh;
    background-color: #DECDBE;
  }

  footer {
    width: 100vw;
    height: 33.3vh;
    background-color: #272727;
  }

  footer img {
    width: 34.7vw;
    height: 23.3vh;
    margin-top: 5vh;
    margin-left: 15.3vw;
  }
  footer p {
    color: #FFFFFF;
    font-size: 1.25vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 70.8vw;
    margin-top: -3.89vh;
  }
}

@media (min-width: 320px) and (max-width: 1439px) and (orientation: portrait) {
  body {
    width: auto;
    left: 0px;
    top: 0px;
    margin: auto;
    padding: 0;
  }

  section.portfolio {
    width: 100vw;
  }

  nav.main-nav {
    margin-top: 1.5vh;
    position: absolute;
    opacity: 0.2;
    width: 100vw;
    height: 3vw;
    z-index: 25;
  }
  nav:hover {
    opacity: 1;
  }
  nav.main-nav ul {
    width: 62.67vw;
    margin-left: 6.67vw;
    line-height: 2;
    list-style: none;
    position: absolute;
    z-index: 0;
  }
  nav.main-nav li {
    display:  inline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.67vw;
    color: #272727;
    padding-left: 5.3vw;
  }
  nav.main-nav a{
    text-decoration: none;
    color: #272727;
    cursor: pointer;
  }

  div.nav {
    width: 100vw;
    height: 4.5vh;
    background-color: #FFFFFF;
    position:fixed;
    z-index: 20;
  }
  div.nav ul {
    width: 100vw;
    list-style: none;
    position: absolute;
    z-index: 2;
    margin-top: 0.75vh;
  }
  div.nav li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.67vw;
    color: #DECDBE;
    padding-left: 0.75vh;
  }

  div.nav :hover {
    color: #BF5049;
  }

  div.nav a{
    text-decoration: none;
    color: #DECDBE;
    cursor: pointer;
  }

  section.branding {
    margin-top: 4.5vh;
    position: absolute;
    width: 100vw;
    height: 308vh;
    background-color: #FFFFFF;
  }

  div.branding-about {
    height: 30vh;
    width: 86.67vw;
    position: absolute;
  }

  div.branding-back-color {
    display: none;
  }

  div.branding-about-text {
    width: 86.67vw;
    margin-left: 6.67vw;

    text-align: center;
    position: relative;
    z-index: 1;
  }
  div.branding-about-text h1 {
    margin-top: ;
    color: #BF5049;
    font-size: 6.4vw;
    font-family: 'Playfair Display', serif;
  }

  div.branding-about-text p {
    color: #272727;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
  }

  div.branding-about-text a {
    text-decoration: none;
    font-size: 3.2vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    text-align: center;
  }

  div.branding-project {
    margin-top: 37.5vh;
    position: absolute;
    width: 100vw;
    height: 272.86vh;
    background-color: #272727;
  }

  div.branding-project-text p {
    width: 86.67vw;
    margin-left: 6.67vw;
    padding-top: 3vh;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
  }

  div.branding-works {
    width: 80vw;
    margin-top: 4.5vh;
    margin-left: 37.5vw;
    display: grid;
    grid-template-rows: 78.7vh 4.5vh 78.7vh 4.5vh 78.7vh;
  }

  div.branding-image img{
    width: 80vw;
    height: 63vh;
  }

  div.branding-work {
    display: grid;
    grid-template-rows: 63vh 12vh;
  }

  div.branding-text {
    height: 12vh;
    width: 80vw;
    margin-top: 3vh;
  }

  div.branding-text p {
    font-size: 3.7vw;
    text-align: center;
    margin-top: 1.5vh;
    width: 80vw;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

  section.posters {
    width: 100vw;
    height: 495vh;
    position: absolute;
    margin-top: 314.8vh;
  }

  div.posters-about{
    width: 100vw;
    height: 138vh;
    background-color: #DECDBE;
    position: absolute;
    padding-top: 7.5vh;
  }

  div.posters-about-text {
    width: 86.67vw;
    margin-left: 3.7vh;
    margin-top: -7.5vh;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  div.posters-about-text h1 {
    color: #272727;
    font-size: 6.4vw;
  }

  div.posters-about-text p {
    color: #272727;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
  }

  div.posters-about-text a {
    text-decoration: none;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    padding-top: 4.5vh;
  }

  div.poster-about {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 86.67vw;
    height: 110vh;
    margin-left: 6.67vw;
    margin-top: 4.5vh;
    position: absolute;
    z-index: 2;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  div.poster-about-card {
    background-color: #FFFFFF;
    height: 33.7vh;
    width: 86.67vw;
  }

  div.poster-about-card h1{
    font-size: 6.4vw;
    color: #BF5049;
    text-align: center;
    margin-top: 7.5vh;
  }

  div.poster-about-card p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.7vw;
    width: 80vw;
    margin-left: 3.335vw;
    margin-top: -1.5vh;
  }

  div.graph-posters {
    position: absolute;
    margin-top: 146vh;
  }

  div.graph-posters-about {
    width: 86.67vw;
    margin-left: 6.67vw;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  div.graph-posters-about h1 {
    color: #BF5049;
    font-size: 6.4vw;
    text-align: center;
  }

  div.graph-posters-about p {
    text-align: center;
    color: #272727;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
  }

  div.graph-posters-image {
    width: 80vw;
    height: 63vh;
    margin-top: 4.5vh;
    margin-left: 10vw;
    display: grid;
    grid-template-rows: 67.5vh 67.5vh 67.5vh 67.5vh 67.5vh 63vh;
  }

  div.graph-posters-image img {
    width: 80vw;
    height: 63vh;
  }

  div.typograph-posters {
    width: 100vw;
    position: absolute;
    margin-top: 583.2vh;
    background-color: #F1F1F1;

  }

  div.typograph-posters-about {
    width: 86.67vw;
    margin-left: 6.67vw;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  div.typograph-posters-about h1 {
    color: #BF5049;
    font-size: 6.4vw;
    text-align: center;
  }

  div.typograph-posters-about p {
    text-align: center;
    color: #272727;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
  }

  div.typograph-posters-image {
    width: 80vw;
    height: 63vh;
    margin-top: 4.5vh;
    margin-left: 10vw;
    display: grid;
    grid-template-rows: 67.5vh 67.5vh 67.5vh 67.5vh 67.5vh 63vh;
  }

  div.typograph-posters-image img {
    width: 80vw;
    height: 63vh;
  }

  section.web-poster {
    width: 100vw;
    height: 180vh;
    margin-top: 1361.3vh;
    position: absolute;
  }

  div.web-poster-about {
    width: 100vw;
    height: 34.5vh;
    background-color: #272727;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -30vh;
  }


  div.web-poster-about h1 {
    color: #FFFFFF;
    font-size: 6.4vw;
    padding-top: 4.5vh;
    text-align: center;
  }

  div.web-poster-about p {
    color: #FFFFFF;
    width: 86.67vw;
    margin-left: 6.67vw;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

  }

  div.web-poster-about a {
    text-decoration: none;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
  }

  div.interactive {
    width: 100vw;
    height: 123.7vh;
  }

  div.interactive iframe {
    width: 92vw;
    height: 62.67vw;
    margin-left: 4vw;
    margin-top: 4.5vh;
  }

  section.building {
    width: 100vw;
    height: 637.2vh;
    position: absolute;
    margin-top: 1410.8vh;
  }

  div.building-about {
    width: 100vw;
    height: 46.5vh;
    background-color: #F6F6F6;
    text-align: center;
  }


  div.building-about h1 {
    color: #BF5049;
    font-size: 6.4vw;
    padding-top: 4.5vh;
    text-align: center;
  }

  div.building-about p {
    color: #272727;
    width: 86.67vw;
    margin-left: 6.67vw;
    font-size: 3.7vw;
    margin-top: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  div.building-about a {
    text-decoration: none;
    font-size: 3.7vw;
    font-family: 'Montserrat', sans-serif;
    color: #BF5049;
    cursor: pointer;
    margin-top: -3vh;
    text-align: center;
  }

  div.book-pages {
    margin-top: 4.5vh;
    width: 80vw;
    height: 232.4vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.book-pages img {
    width: 80vw;
    height: auto;
  }

  div.book-pages.two{
    height: 352.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.book-image img{
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 4.5vh;
  }

  div.building-video {
    width: 100vw;
    height: 54vh;
    background-color: #272727;
    margin-top: 4.5vh;
  }

  div.building-video-about {
    width: 100vw;
    text-align: left;
    position: relative;
    z-index: 1;
    padding-top: 4.5vh;
  }

  div.building-video-about h1 {
    color: #FFFFFF;
    font-size: 6.4vw;
    text-align: center;
    margin-top: -1.5vh;
  }

  div.building-video-about p {
    color: #FFFFFF;
    font-size: 3.7vw;
    margin-top: 4.5vh;
    text-align: center;
    width: 86.67vw;
    margin-left: 6.67vw;
    font-family: 'Montserrat', sans-serif;
  }

  div.video {
    width: 100vw;
    height: 48vh;
    background-color: #C4C4C4;
    margin-top: 4.5vh;
  }

  div.video iframe{
    margin-top: 4.5vh;
    width: 86.67vw;
    height: 39vh;
    margin-left: 6.67vw;
  }

  section.rebranding {
    display: none;
    position: absolute;
    margin-top: 1491.75vh;
    width: 100vw;
    height: 45vh;
    background-color: #DECDBE;
  }

  footer {
    margin-top: 2439.3vh;
    position: absolute;
    width: 100vw;
    padding-bottom: 10vh;
    background-color: #272727;
  }

    footer img {
      width: 43.3vw;
      height: ;
      margin-top: 5vh;
      margin-left: 15.3vw;
    }
    footer p {
      color: #FFFFFF;
      font-size: 2.67vw;
      font-family: 'Montserrat', sans-serif;
      margin-left: 55.5vw;
      margin-top: -10.5vh;
    }
  }
}
